.post {
    background-color: white;
    max-width: 500px;
    border: 1px solid lightgray;
    margin-bottom: 45px;
}

.post__image {
    width: 100%; /* keep images quite fit on the screen */
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.post__text, .post__comments {
    font-weight: normal;
    padding: 20px;
}

.post__header {
    display: flex; /* draw 'em into a row by default */
    align-items: center;
    padding: 20px 10px; /* vertical horizontal left bottom */
}

.post__avatar {
    margin-right: 10px;
}

.post__commentBox {
    display: flex;
    margin-top: 10px;
}

.post__input {
    flex: 1; /* set priority */
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
}

.post__button {
    flex: 0; /* take the little room instead */
    border: none;
    color: #6082a3;
    background-color: transparent;
    border-top: 1px solid lightgray;
}